<config>
    <timeouts>
        <connect>60000</connect>
        <socket>60000</socket>
    </timeouts>

    <!-- encryptPassword = DesUtil.encrypt(password, parentName + username) -->
    <!-- like "/aCJhMjkO9D+K6RxgLGzpA==" = DesUtil.encrypt("password", "smzdm" + "username") -->
    <smzdm>
        <accounts>
            <account>
                <username>username</username>
                <password>/aCJhMjkO9D+K6RxgLGzpA==</password>
            </account>
        </accounts>
    </smzdm>
    <v2ex>
        <accounts>
            <account>
                <username>username</username>
                <password>M1vIt3XoTYyZ8dUEN6pmJQ==</password>
            </account>
        </accounts>
    </v2ex>
    <zimuzu>
        <accounts>
            <account>
                <username>username</username>
                <password>NUS+ly+jPW7bBMJvBHifMQ==</password>
            </account>
        </accounts>
    </zimuzu>
</config>
