<config>
    <timeouts>
        <connect>60000</connect>
        <socket>60000</socket>
    </timeouts>
    <v2ex>
        <accounts>
            <account>
                <username>username</username>
                <password>password</password>
            </account>
        </accounts>
    </v2ex>
    <zimuzu>
        <accounts>
            <account>
                <username>username</username>
                <password>password</password>
            </account>
        </accounts>
    </zimuzu>
    <smzdm>
        <accounts>
            <account>
                <username>username</username>
                <password>password</password>
            </account>
        </accounts>
    </smzdm>
    <myphoto>
        <accounts>
            <account>
                <username>username</username>
                <password>password</password>
            </account>
        </accounts>
    </myphoto>
    <litscloud>
        <accounts>
            <account>
                <username>username</username>
                <password>password</password>
            </account>
        </accounts>
    </litscloud>
    <moliweb>
        <accounts>
            <account>
                <username>username</username>
                <password>password</password>
            </account>
        </accounts>
    </moliweb>
</config>
