<config>
    <v2ex>
        <accounts>
            <account>
                <username>username</username>
                <password>password</password>
            </account>
        </accounts>
    </v2ex>
    <zimuzu>
        <accounts>
            <account>
                <username>username</username>
                <password>password</password>
            </account>
        </accounts>
    </zimuzu>
    <smzdm>
        <accounts>
            <account>
                <username>username</username>
                <password>password</password>
            </account>
        </accounts>
    </smzdm>
</config>
